.fullCounter {
  text-align: center;
  padding: 7px 7px 2px 7px;
  border: 2px solid var(--border-color);
  width: 210px;
  margin: 25px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px 0;
}

.wrapper {
  padding: 10px;
  border: 2px solid var(--border-color);
  width: 180px;
  margin: 5px auto;
  border-radius: 3px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
.setBtn {
  margin-top: 7px;
  color: #07b0a5;
  cursor: pointer;
}

.setBtn:hover {
  color: #A8B5BF;
}