.counterInterface {
  margin: 0 auto;
  height: 151px;
  width: 200px;
  background-color: var(--border-color);
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.interface {
  font-style: italic;
  color: var(--bg);
  font-size: 60px;
}

.counterRed {
  color: red;
  font-style: italic;
  font-size: 60px;
}

.errorText {
  font-style: italic;
  font-size: 30px;
  color: red;
}

.correctText {
  font-style: italic;
  font-size: 25px;
  color: var(--bg);
}