.App {
  background-color: var(--bg);
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 38px);
}

.themeWhite {
  --bg: #185959;
  --border-color: #D98825;
  --button: #BF6D24;
  --font-color: #8C5626;
  --hovered-font: #185959;
  --disabled: #A6A6A6;
}

.themeDark {
  --bg: #D9D9D9;
  --border-color: #404040;
  --button: #737373;
  --font-color: #D9D9D9;
  --hovered-font: #0D0D0D;
  --disabled: #A6A6A6;
}
