.App {
  background-color: var(--bg);
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

.themeWhite {
  --bg: aquamarine;
  --border-color: #10454F;
}

.themeDark {
  --bg: #10454F;
  --border-color: aquamarine
}
